# 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Data Types

### Integers

In [2]:
x = 2

In [3]:
x

2

In [4]:
print(x)

2

In [5]:
type(x)

int

### Flating-Point Numbers

In [6]:
y = 5.678

In [7]:
y

5.678

In [8]:
type(y)

float

### Strings

In [9]:
z = 'Brazil'

In [10]:
z

'Brazil'

In [11]:
type(z)

str

### Boolean

In [12]:
type(True)

bool

In [13]:
type(False)

bool

#### Integers and Floats

In [14]:
print(x)

2

In [15]:
x + 4

6

In [16]:
x + y

7.678

In [17]:
# Redefine x
x = x + 4
print(x)

6

### Strings

In [18]:
a = 'Hello, '

In [19]:
b = 'Marley'

In [20]:
#Concatenation
a + b

'Hello, Marley'

In [21]:
n = 'potato'

In [22]:
#Multiplication
n * 12

'potatopotatopotatopotatopotatopotatopotatopotatopotatopotatopotatopotato'

### Booleans

In [23]:
# Boolean data types are interesting in that you don’t use them to perform operations the way you’d use numerical or textual data. Instead, they’re usually the result of an operation, letting you know whether a statement is true or false. Let’s take a look at an example. Your x variable should now have a value of 6, and your y variable should still have a value of 5.678. Let’s set up an equation checking whether these two variables are equal in value:
x == y

False

In [24]:
type (x == y)

bool

# Working with Python Data Types

### Code 3 different ways of reaching a result of 100 by adding or subtracting numeric variables.

In [25]:
h = 40
i = 60
h + i

100

In [26]:
result = 50 + 30 - 10 + 5 + 25
print(result)

100

In [27]:
j = (-30)
k = (130)
j + k

100

In [28]:
type(j + k)

int

### Code 2 floating-point variables and divide them by each other.

In [29]:
l = 12.5
m = 4.5
l / m

2.7777777777777777

In [30]:
type (l/m)

float

In [31]:
n = 'Pythons and Anacondas'
o = ' are types of '
p = 'snakes, but also coding tools.'
n + o + p

'Pythons and Anacondas are types of snakes, but also coding tools.'

In [32]:
#### Bonus! Include a command that makes a string appear 100 times.
bonus_string = "Hello, Victor! "
print(bonus_string * 100)

Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor! Hello, Victor!