# 4.8 Grouping Data & Aggregating Variables
Part 1

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Import orders_products_merged_refined.pkl from PKL file

path = r'C:\Users\natha\OneDrive\Desktop\Data Analytics\Jupyter\09-2023 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_refined.pkl'))

In [3]:
# Create a subset of ords_prods_merge for only the first one million entries

df = ords_prods_merge[:1000000]

In [4]:
# Check the shape

df.shape

(1000000, 18)

In [6]:
# Check the column names

df.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,0,5,0,both,Mid-range product,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,0,1,1,both,Mid-range product,Regularly busy,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,0,20,0,both,Mid-range product,Busiest days,Fewest orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,1,10,0,both,Mid-range product,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,0,11,1,both,Mid-range product,Slowest days,Most orders
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,0,7,0,both,Mid-range product,Busiest days,Average orders
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,0,2,0,both,Mid-range product,Regularly busy,Most orders
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,0,1,0,both,Mid-range product,Slowest days,Most orders
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,0,1,0,both,Mid-range product,Busiest days,Average orders
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,0,2,1,both,Mid-range product,Busiest days,Most orders

## Grouping Data with Pandas

In [8]:
# Testing the groupby() function [Step 1 of Grouping Data]

df.groupby('product_name')

### We should always use the groupby() function as part of a series of steps, namely, the following:

1. Split the data into groups based on some criteria.
2. Apply a function to each group separately.
3. Combine the results into a dataframe or alternative data structure or create a new column in the current dataframe.

## Aggregating Data with agg()
1. Split the data into groups based on “department_id.”
2. Apply the agg() function to each group to obtain the mean values for the “order_number” column.
To do this, run the following code:

In [9]:
# Here, the groupby() function is being assigned to the df dataframe.
# This creates the pandas object for “department_id.” Onto this resulting object, the agg() function is applied.
# The agg() function will return the mean of the given column, in this case, “order_number.”

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [10]:
# There are some aggregations that can be conducted without use of the agg() function.
# For instance, the command above could be replaced with a command that uses the mean() function to achieve the same results:

df.groupby('department_id')['order_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

#### *Just remember the key difference in syntax between the two methods: when using agg(), put the column you want to aggregate inside the parentheses of the agg() function as an argument. When using mean() (or any other standard aggregation function), simply index the column with square brackets, then follow it with the function you want to use after the dot.*

# Dot Notation VS. Square Brackets

### Using dot notation results in the same output as the function with brackets. Theoretically, then, we could use dot notation for your commands. However, there are a few reasons why we recommend sticking to square brackets as a general rule:

*Visual Appearance: Square brackets stand out, and using them consistently will help those that may look at your code down the line understand your methods. If we suddenly decided to change to dot notation for certain operations, our colleagues wouldn’t know whether you were indexing or applying a function.*

*Default Role: Square brackets have no other role in Python beyond indexing. Dots, however, do (applying pandas functions, looking for certain attributes of a dataframe, etc.). When we start using dot notation for indexing, as well, Python has to work harder to understand what we are telling it to do, which can make it slower.*

In general, stick to brackets when it comes to indexing!

# Performing Multiple Aggregations

In [11]:
# This code groups the DataFrame by 'department_id' and calculates the mean, minimum, and maximum values of the 'order_number' column within each group

df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.447411   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.803851   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

# Aggregating Data with transform()

### To create your flag, you’ll need some criteria. You can use the following:

A. If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”

B. If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”

C. If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

### Now, let’s map this task onto the three-step process introduced earlier:

1. Split the data into groups based on the “user_id” column.
2. Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
3. Create a new column, “max_order,” into which you’ll place the results of your aggregation.

In [12]:
# In this case, all three steps can be included in a single line of code:

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

### This code adds a new column called 'max_order' to the DataFrame `ords_prods_merge`. The values in this column are calculated based on a group operation.

Specifically, it does the following:

1. **`ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)`**:
   - It groups the DataFrame `ords_prods_merge` by the 'user_id' column.
   - Within each group, it selects the 'order_number' column.
   - It then applies the `np.max` function, which finds the maximum value within each group.
   - This operation returns a Series with the maximum order number for each user.

2. **`ords_prods_merge['max_order'] = ...`**:
   - It assigns the Series obtained in the previous step to a new column named 'max_order' in the DataFrame `ords_prods_merge`.

In summary, this code calculates the maximum order number for each user and stores it in a new column called 'max_order' in the DataFrame `ords_prods_merge`.

In [14]:
# Check the columns

ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,0,5,0,both,Mid-range product,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,0,1,1,both,Mid-range product,Regularly busy,Most orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,0,20,0,both,Mid-range product,Busiest days,Fewest orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,1,10,0,both,Mid-range product,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,0,11,1,both,Mid-range product,Slowest days,Most orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,0,7,0,both,Mid-range product,Busiest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,0,2,0,both,Mid-range product,Regularly busy,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,0,1,0,both,Mid-range product,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,0,1,0,both,Mid-range product,Busiest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,0,2,1,both,Mid-range product,Busiest days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,1,1,0,both,Mid-range product,Regularly busy,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,0,1,0,both,Mid-range product,Slowest days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,0,3,1,both,Mid-range product,Slowest days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,0,4,1,both,Mid-range product,Regularly busy,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,0,8,0,both,Mid-range product,Slowest days,Most orders,13

### *The max_order column represents the highest order number for each user in the DataFrame ords_prods_merge. In other words, it indicates the most recent order number for each individual user. This information can be useful for various analyses, such as identifying loyal or frequent customers, tracking customer behavior over time, and understanding the ordering patterns of different users.*

In [20]:
# Compare 'order_number' against 'max_order' for 'user_id' of 1

ords_prods_merge[ords_prods_merge['user_id'] == 1].head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
92368,196,Soda,77,7,9.0,2539329,1,1,2,8,NaN,1,1,0,both,Mid-range product,Regularly busy,Average orders,10
92369,196,Soda,77,7,9.0,2398795,1,2,3,7,15.0,0,1,1,both,Mid-range product,Slowest days,Average orders,10
92370,196,Soda,77,7,9.0,473747,1,3,3,12,21.0,0,1,1,both,Mid-range product,Slowest days,Most orders,10
92371,196,Soda,77,7,9.0,2254736,1,4,4,7,29.0,0,1,1,both,Mid-range product,Slowest days,Average orders,10
92372,196,Soda,77,7,9.0,431534,1,5,4,15,28.0,0,1,1,both,Mid-range product,Slowest days,Most orders,10
92373,196,Soda,77,7,9.0,3367565,1,6,2,7,19.0,0,1,1,both,Mid-range product,Regularly busy,Average orders,10
92374,196,Soda,77,7,9.0,550135,1,7,1,9,20.0,0,1,1,both,Mid-range product,Busiest days,Most orders,10
92375,196,Soda,77,7,9.0,3108588,1,8,1,14,14.0,0,2,1,both,Mid-range product,Busiest days,Most orders,10
92376,196,Soda,77,7,9.0,2295261,1,9,1,16,0.0,0,4,1,both,Mid-range product,Busiest days,Most orders,10
92377,196,Soda,77,7,9.0,2550362,1,10,4,8,30.0,0,1,1,both,Mid-range product,Slowest days,Average orders,10
5971715,10258,Pistachios,117,19,3.0,2398795,1,2,3,7,15.0,0,2,0,both,Low-range product,Slowest days,Average orders,10
5971716,10258,Pistachios,117,19,3.0,473747,1,3,3,12,21.0,0,3,1,both,Low-range product,Slowest days,Most orders,10
5971717,10258,Pistachios,117,19,3.0,2254736,1,4,4,7,29.0,0,3,1,both,Low-range product,Slowest days,Average orders,10
5971718,10258,Pistachios,117,19,3.0,431534,1,5,4,15,28.0,0,3,1,both,Low-range product,Slowest days,Most orders,10
5971719,10258,Pistachios,117,19,3.0,3367565,1,6,2,7,19.0,0,3,1,both,Low-range product,Regularly busy,Average orders,10
5971720,10258,Pistachios,117,19,3.0,550135,1,7,1,9,20.0,0,2,1,both,Low-range product,Busiest days,Most orders,10
5971721,10258,Pistachios,117,19,3.0,3108588,1,8,1,14,14.0,0,3,1,both,Low-range product,Busiest days,Most orders,10
5971722,10258,Pistachios,117,19,3.0,2295261,1,9,1,16,0.0,0,5,1,both,Low-range product,Busiest days,Most orders,10
5971723,10258,Pistachios,117,19,3.0,2550362,1,10,4,8,30.0,0,6,1,both,Low-range product,Slowest days,Average orders,10
6002731,10326,Organic Fuji Apples,24,4,2.7,431534,1,5,4,15,28.0,0,5,0,both,Low-range product,Slowest days,Most orders,10
7157228,12427,Original Beef Jerky,23,19,4.4,2539329,1,1,2,8,NaN,1,3,0,both,Low-range product,Regularly busy,Average orders,10
7157229,12427,Original Beef Jerky,23,19,4.4,2398795,1,2,3,7,15.0,0,3,1,both,Low-range product,Slowest days,Average orders,10
7157230,12427,Original Beef Jerky,23,19,4.4,473747,1,3,3,12,21.0,0,2,1,both,Low-range product,Slowest days,Most orders,10
7157231,12427,Original Beef Jerky,23,19,4.4,2254736,1,4,4,7,29.0,0,2,1,both,Low-range product,Slowest days,Average orders,10
7157232,12427,Original Beef Jerky,23,19,4.4,431534,1,5,4,15,28.0,0,2,1,both,Low-range product,Slowest days,Most orders,10
7157233,12427,Original Beef Jerky,23,19,4.4,3367565,1,6,2,7,19.0,0,2,1,both,Low-range product,Regularly busy,Average orders,10
7157234,12427,Original Beef Jerky,23,19,4.4,550135,1,7,1,9,20.0,0,3,1,both,Low-range product,Busiest days,Most orders,10
7157235,12427,Original Beef Jerky,23,19,4.4,3108588,1,8,1,14,14.0,0,1,1,both,Low-range product,Busiest days,Most orders,10
7157236,12427,Original Beef Jerky,23,19,4.4,2295261,1,9,1,16,0.0,0,6,1,both,Low-range product,Busiest days,Most orders,10
7157237,12427,Original Beef Jerky,23,19,4.4,2550362,1,10,4,8,30.0,0,9,1,both,Low-range product,Slowest days,Average orders,10
7453170,13032,Cinnamon Toast Crunch,121,14,4.0,2398795,1,2,3,7,15.0,0,6,0,both,Low-range product,Slowest days,Average orders,10
7453171,13032,Cinnamon Toast Crunch,121,14,4.0,550135,1,7,1,9,20.0,0,5,1,both,Low-range product,Busiest days,Most orders,10
7453172,13032,Cinnamon Toast Crunch,121,14,4.0,2550362,1,10,4,8,30.0,0,8,1,both,Low-range product,Slowest days,Average orders,10
7518961,13176,Bag of Organic Bananas,24,4,10.3,2398795,1,2,3,7,15.0,0,4,0,both,Mid-range product,Slowest days,Average orders,10
7518962,13176,Bag of Organic Bananas,24,4,10.3,431534,1,5,4,15,28.0,0,8,1,both,Mid-range product,Slowest days,Most orders,10
8435031,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,2539329,1,1,2,8,NaN,1,2,0,both,Mid-range product,Regularly busy,Average orders,10
10076906,17122,Honeycrisp Apples,24,4,14.0,431534,1,5,4,15,28.0,0,6,0,both,Mid-range product,Slowest days,Most orders,10
16105125,25133,Organic String Cheese,21,16,8.6,473747,1,3,3,12,21.0,0,4,0,both,Mid-range product,Slowest days,Most orders,10
16105126,25133,Organic String Cheese,21,16,8.6,2254736,1,4,4,7,29.0,0,4,1,both,Mid-range product,Slowest days,Average orders,10
16105127,25133,Organic String Cheese,21,16,8.6,431534,1,5,4,15,28.0,0,4,1,both,Mid-range product,Slowest days,Most orders,10
16105128,25133,Organic String Cheese,21,16,8.6,3367565,1,6,2,7,19.0,0,4,1,both,Mid-range product,Regularly busy,Average orders,10
16105129,25133,Organic String Cheese,21,16,8.6,550135,1,7,1,9,20.0,0,4,1,both,Mid-range product,Busiest days,Most orders,10
16105130,25133,Organic String Cheese,21,16,8.6,3108588,1,8,1,14,14.0,0,4,1,both,Mid-range product,Busiest days,Most orders,10
16105131,25133,Organic String Cheese,21,16,8.6,2295261,1,9,1,16,0.0,0,3,1,both,Mid-range product,Busiest days,Most orders,10
16105132,25133,Organic String Cheese,21,16,8.6,2550362,1,10,4,8,30.0,0,5,1,both,Mid-range product,Slowest days,Average orders,10
16642084,26088,Aged White Cheddar Popcorn,23,19,4.7,2539329,1,1,2,8,NaN,1,4,0,both,Low-range product,Regularly busy,Average orders,10
16642085,26088,Aged White Cheddar Popcorn,23,19,4.7,2398795,1,2,3,7,15.0,0,5,1,both,Low-range product,Slowest days,Average orders,10
17009387,26405,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,2539329,1,1,2,8,NaN,1,5,0,both,Low-range product,Regularly busy,Average orders,10
17009388,26405,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,2254736,1,4,4,7,29.0,0,5,1,both,Low-range product,Slowest days,Average orders,10
19830897,30450,Creamy Almond Butter,88,13,3.2,473747,1,3,3,12,21.0,0,5,0,both,Low-range product,Slowest days,Most orders,10
23227386,35951,Organic Unsweetened Almond Milk,91,16,1.3,2550362,1,10,4,8,30.0,0,7,0,both,Low-range product,Slowest days,Average orders,10
24921181,38928,0% Greek Strained Yogurt,120,16,12.6,2550362,1,10,4,8,30.0,0,4,0,both,Mid-range product,Slowest days,Average orders,10
25452452,39657,Milk Chocolate Almonds,45,19,6.8,2550362,1,10,4,8,30.0,0,3,0,both,Mid-range product,Slowest days,Average orders,10
26745407,41787,Bartlett Pears,24,4,5.0,431534,1,5,4,15,28.0,0,7,0,both,Low-range product,Slowest days,Most orders,10
29711949,46149,Zero Calorie Cola,77,7,13.4,3108588,1,8,1,14,14.0,0,5,0,both,Mid-range product,Busiest days,Most orders,10
29711950,46149,Zero Calorie Cola,77,7,13.4,2295261,1,9,1,16,0.0,0,2,1,both,Mid-range product,Busiest days,Most orders,10
29711951,46149,Zero Calorie Cola,77,7,13.4,2550362,1,10,4,8,30.0,0,2,1,both,Mid-range product,Slowest days,Average orders,10
32033308,49235,Organic Half & Half,53,16,1.8,3108588,1,8,1,14,14.0,0,6,0,both,Low-range product,Busiest days,Most orders,10
32033309,49235,Organic Half & Half,53,16,1.8,2295261,1,9,1,16,0.0,0,1,1,both,Low-range product,Busiest days,Most orders,10

In [21]:
pd.options.display.max_rows = None

# This command tells pandas not to assign any options regarding the maximum number of rows to display.
# After executing this line of code, try your head() function again.
# We should now see all 100 rows, which will allow you to check whether your aggregation procedure was conducted successfully.
# Keep in mind that having an output this large in your Jupyter notebook will inflate its size significantly!
# We can simply delete that output later by navigating to the Cell menu → Current Outputs → Clear.

# Deriving Columns with loc()

In [22]:
# With your new column ready to go,
# All that’s left is to create a flag that assigns a “loyalty” label to a user ID based on its corresponding max order value.
# We should be familiar with the process already from the previous Exercise.
# Based on the criteria listed above, our code should look like:

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [23]:
# Check the value counts of our new 'loyalty_flag' column

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876363
Loyal customer      10284010
New customer         6243788
Name: count, dtype: int64

In [25]:
# Cross checking user_id, loyalty_flag and max_order for logic

ords_prods_merge[['user_id', 'loyalty_flag', 'max_order']].head(60)

    user_id      loyalty_flag  max_order
0       138  Regular customer         32
1       138  Regular customer         32
2       709      New customer          5
3       764      New customer          3
4       764      New customer          3
5       777  Regular customer         26
6       825      New customer          9
7       910  Regular customer         12
8      1052  Regular customer         20
9      1052  Regular customer         20
10     1379      New customer         10
11     1480    Loyal customer         43
12     1480    Loyal customer         43
13     1480    Loyal customer         43
14     1494  Regular customer         13
15     1494  Regular customer         13
16     1494  Regular customer         13
17     1540  Regular customer         28
18     1540  Regular customer         28
19     1540  Regular customer         28
20     1540  Regular customer         28
21     1540  Regular customer         28
22     1540  Regular customer         28
23     1540  Regular customer         28
24     1540  Regular customer         28
25     1540  Regular customer         28
26     1540  Regular customer         28
27     1540  Regular customer         28
28     1540  Regular customer         28
29     1540  Regular customer         28
30     1540  Regular customer         28
31     1540  Regular customer         28
32     1540  Regular customer         28
33     1540  Regular customer         28
34     1598      New customer          4
35     1598      New customer          4
36     1598      New customer          4
37     1647      New customer         10
38     1647      New customer         10
39     1647      New customer         10
40     1647      New customer         10
41     1647      New customer         10
42     2833      New customer         10
43     2850  Regular customer         23
44     2857  Regular customer         25
45     3010  Regular customer         13
46     3029      New customer          5
47     3395      New customer          6
48     3904      New customer          3
49     4006    Loyal customer         42
50     4006    Loyal customer         42
51     4006    Loyal customer         42
52     4006    Loyal customer         42
53     4006    Loyal customer         42
54     4122  Regular customer         40
55     4141      New customer          9
56     4343      New customer          4
57     4553      New customer          4
58     4845  Regular customer         14
59     6866      New customer          6

In [26]:
df.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,0,5,0,both,Mid-range product,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,0,1,1,both,Mid-range product,Regularly busy,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,0,20,0,both,Mid-range product,Busiest days,Fewest orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,1,10,0,both,Mid-range product,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,0,11,1,both,Mid-range product,Slowest days,Most orders
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,0,7,0,both,Mid-range product,Busiest days,Average orders
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,0,2,0,both,Mid-range product,Regularly busy,Most orders
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,0,1,0,both,Mid-range product,Slowest days,Most orders
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,0,1,0,both,Mid-range product,Busiest days,Average orders
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,0,2,1,both,Mid-range product,Busiest days,Most orders