# Task 4.9 Part 1

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# *Importing customers.csv*

In [2]:
# Import customers.csv

path = r'C:\Users\natha\OneDrive\Desktop\Data Analytics\Jupyter\09-2023 Instacart Basket Analysis'
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

## Exploring the Data

In [3]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [4]:
customers.tail()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

In [5]:
customers.shape

(206209, 10)

In [6]:
customers.info

<bound method DataFrame.info of         user_id First Name    Surnam  Gender           STATE  Age date_joined  \
0         26711    Deborah  Esquivel  Female        Missouri   48    1/1/2017
1         33890   Patricia      Hart  Female      New Mexico   36    1/1/2017
2         65803    Kenneth    Farley    Male           Idaho   35    1/1/2017
3        125935   Michelle     Hicks  Female            Iowa   40    1/1/2017
4        130797        Ann   Gilmore  Female        Maryland   26    1/1/2017
...         ...        ...       ...     ...             ...  ...         ...
206204   168073       Lisa      Case  Female  North Carolina   44    4/1/2020
206205    49635     Jeremy   Robbins    Male          Hawaii   62    4/1/2020
206206   135902      Doris  Richmond  Female        Missouri   66    4/1/2020
206207    81095       Rose   Rollins  Female      California   27    4/1/2020
206208    80148    Cynthia     Noble  Female        New York   55    4/1/2020

        n_dependants fam_status  income
0                  3    married  165665
1                  0     single   59285
2                  2    married   99568
3                  0     single   42049
4                  1    married   40374
...              ...        ...     ...
206204             1    married  148828
206205             3    married  168639
206206             2    married   53374
206207             1    married   99799
206208             1    married   57095

[206209 rows x 10 columns]>

In [7]:
customers.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [8]:
customers.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [9]:
customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

# Insights

1. Rename columns to be logical
2. user_id can be used to join with our latest instacart dataframe

# Renaming Columns

In [10]:
# Define the new column names
new_column_names = {
    'user_id': 'user_id',
    'First Name': 'first_name',
    'Surnam': 'surname',
    'Gender': 'gender',
    'STATE': 'state',
    'Age': 'age',
    'date_joined': 'date_joined',
    'n_dependants': 'number_of_dependents',
    'fam_status': 'family_status',
    'income': 'income'
}

# Rename the columns
customers = customers.rename(columns=new_column_names)

In [11]:
# Confirming column names

customers.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'number_of_dependents', 'family_status', 'income'],
      dtype='object')

# Checking for Missing Values

In [12]:
# Checking for null values

customers.isnull().sum()

user_id                     0
first_name              11259
surname                     0
gender                      0
state                       0
age                         0
date_joined                 0
number_of_dependents        0
family_status               0
income                      0
dtype: int64

In [13]:
# Imputing rows with missing 'first_name' as 'Unknown'

customers['first_name'].fillna('Unknown', inplace=True)

In [14]:
# Confirming for null values

customers.isnull().sum()

user_id                 0
first_name              0
surname                 0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependents    0
family_status           0
income                  0
dtype: int64

# Checking for Mixed-Type Data

In [15]:
# Checking for Mixed-Type Data

for col in customers.columns.tolist():
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)
    
# NO OUTPUT means the dataframe has consistent data types throughout
# It suggests the data is well-structured and follows a consistent format

# Checking for Duplicates

In [16]:
# Check for duplicates in the entire DataFrame

duplicates = customers[customers.duplicated()]
duplicates

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, number_of_dependents, family_status, income]
Index: []

In [17]:
# Check for duplicates based on specific columns (user_id)
duplicates_user_id = customers[customers.duplicated(subset=['user_id'])]
duplicates_user_id

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, number_of_dependents, family_status, income]
Index: []

# Unique Values for Each Categorical Column

In [18]:
print(customers['gender'].unique())
print(customers['state'].unique())
print(customers['family_status'].unique())

['Female' 'Male']
['Missouri' 'New Mexico' 'Idaho' 'Iowa' 'Maryland' 'Kentucky' 'Montana'
 'South Carolina' 'Texas' 'Virginia' 'Nevada' 'Nebraska' 'Georgia'
 'Wyoming' 'Colorado' 'North Dakota' 'Wisconsin' 'Alaska' 'Vermont'
 'Arkansas' 'Maine' 'North Carolina' 'West Virginia' 'Indiana' 'Oregon'
 'Florida' 'California' 'Pennsylvania' 'Ohio' 'Connecticut' 'Arizona'
 'Louisiana' 'Washington' 'New York' 'Mississippi' 'Oklahoma' 'Utah'
 'New Hampshire' 'Hawaii' 'District of Columbia' 'Alabama' 'Massachusetts'
 'Rhode Island' 'Michigan' 'New Jersey' 'Kansas' 'South Dakota'
 'Minnesota' 'Illinois' 'Tennessee' 'Delaware']
['married' 'single' 'living with parents and siblings' 'divorced/widowed']

# Summary Statisctics for Categorical Columns

In [19]:
print(customers['gender'].value_counts())
print(customers['state'].value_counts())
print(customers['family_status'].value_counts())

gender
Male      104067
Female    102142
Name: count, dtype: int64
state
Florida                 4044
Colorado                4044
Illinois                4044
Alabama                 4044
District of Columbia    4044
Hawaii                  4044
Arizona                 4044
Connecticut             4044
California              4044
Indiana                 4044
Arkansas                4044
Alaska                  4044
Delaware                4044
Iowa                    4044
Idaho                   4044
Georgia                 4044
Wyoming                 4043
Mississippi             4043
Oklahoma                4043
Utah                    4043
New Hampshire           4043
Kentucky                4043
Maryland                4043
Rhode Island            4043
Massachusetts           4043
Michigan                4043
New Jersey              4043
Kansas                  4043
South Dakota            4043
Minnesota               4043
Tennessee               4043
New York                4043
Washington              4043
Louisiana               4043
Montana                 4043
North Dakota            4043
Wisconsin               4043
Nebraska                4043
Vermont                 4043
Nevada                  4043
Maine                   4043
North Carolina          4043
West Virginia           4043
Virginia                4043
Oregon                  4043
New Mexico              4043
Texas                   4043
Pennsylvania            4043
Ohio                    4043
South Carolina          4043
Missouri                4043
Name: count, dtype: int64
family_status
married                             144906
single                               33962
divorced/widowed                     17640
living with parents and siblings      9701
Name: count, dtype: int64

# *Importing Latest Cleaned ords_prods_merge data from Pickle file*

In [20]:
# Import orders_products_merged_refined.pkl from PKL file

path = r'C:\Users\natha\OneDrive\Desktop\Data Analytics\Jupyter\09-2023 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_refined_49.pkl'))

In [21]:
# Exploring the Data

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_mean_price,spending_flag,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,both,Mid-range product,Busiest days,Fewest orders,5,New customer,7.930208,Low spender,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0,both,Mid-range product,Slowest days,Most orders,3,New customer,4.972414,Low spender,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,both,Mid-range product,Slowest days,Most orders,3,New customer,4.972414,Low spender,Frequent customer

In [22]:
# Checking potential columns which are not required

print(ords_prods_merge['_merge'].unique())

['both']
Categories (3, object): ['left_only', 'right_only', 'both']

In [23]:
# Dropping _merge column from ords_prods_merge

ords_prods_merge = ords_prods_merge.drop(columns=['_merge'])

In [24]:
# Confirming columns

ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'is_first_order',
       'add_to_cart_order', 'reordered', 'price_range_loc', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'user_mean_price',
       'spending_flag', 'order_frequency_flag'],
      dtype='object')

# *Merging 'customers' dataframe and 'ords_prods_merge' dataframe*

In [25]:
# Merging 'customers' & 'ords_prods_merge' with an Inner Join

ords_prods_customers_merge = ords_prods_merge.merge(customers, on = 'user_id')

In [26]:
ords_prods_customers_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,order_frequency_flag,first_name,surname,gender,state,age,date_joined,number_of_dependents,family_status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620

In [27]:
ords_prods_customers_merge.shape

(32404161, 31)

In [28]:
ords_prods_customers_merge.dtypes

product_id                  int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
is_first_order              int64
add_to_cart_order           int64
reordered                   int64
price_range_loc            object
busiest_days               object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
user_mean_price           float64
spending_flag              object
order_frequency_flag       object
first_name                 object
surname                    object
gender                     object
state                      object
age                         int64
date_joined                object
number_of_dependents        int64
family_status              object
income                      int64
dtype: object

# Further Clean Up on ords_prods_customers_merge

In [29]:
# Checking for null values

ords_prods_customers_merge.isnull().sum()

product_id                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                       4429
order_id                        0
user_id                         0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2076054
is_first_order                  0
add_to_cart_order               0
reordered                       0
price_range_loc                 0
busiest_days                    0
busiest_period_of_day           0
max_order                       0
loyalty_flag                    0
user_mean_price                 0
spending_flag                   0
order_frequency_flag            5
first_name                      0
surname                         0
gender                          0
state                           0
age                             0
date_joined                     0
number_of_dependents            0
family_status                   0
income                          0
dtype: int64

In [30]:
# Total number of rows in the DataFrame
total_rows = len(ords_prods_customers_merge)

# Number of missing values in the 'prices' column
missing_prices_count = ords_prods_customers_merge['prices'].isnull().sum()

# Calculate the percentage of missing values
percentage_missing_prices = (missing_prices_count / total_rows) * 100

print(f"The percentage of missing values in the 'prices' column is: {percentage_missing_prices:.2f}%")

The percentage of missing values in the 'prices' column is: 0.01%

In [31]:
# Remove rows with missing prices
ords_prods_customers_merge = ords_prods_customers_merge.dropna(subset=['prices'])

In [32]:
# Total number of rows in the DataFrame
total_rows = len(ords_prods_customers_merge)

# Number of missing values in the 'order_frequency' column
missing_order_frequency_flag_count = ords_prods_customers_merge['order_frequency_flag'].isnull().sum()

# Calculate the percentage of missing values
percentage_missing_order_frequency_flag = (missing_order_frequency_flag_count / total_rows) * 100

print(f"The percentage of missing values in the 'order_frequency_flag' column is: {percentage_missing_prices:.2f}%")

The percentage of missing values in the 'order_frequency_flag' column is: 0.01%

In [33]:
# Remove rows with missing prices
ords_prods_customers_merge = ords_prods_customers_merge.dropna(subset=['order_frequency_flag'])

In [34]:
# Re-checking to confirm Null Values

ords_prods_customers_merge.isnull().sum()

product_id                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
order_id                        0
user_id                         0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2075740
is_first_order                  0
add_to_cart_order               0
reordered                       0
price_range_loc                 0
busiest_days                    0
busiest_period_of_day           0
max_order                       0
loyalty_flag                    0
user_mean_price                 0
spending_flag                   0
order_frequency_flag            0
first_name                      0
surname                         0
gender                          0
state                           0
age                             0
date_joined                     0
number_of_dependents            0
family_status                   0
income                          0
dtype: int64

# *Exporting ords_prods_customers_merge as Pickle File*

In [35]:
# Export ords_prods_customers_merge DataFrame to PKL

path = r'C:\Users\natha\OneDrive\Desktop\Data Analytics\Jupyter\09-2023 Instacart Basket Analysis'
ords_prods_customers_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_customers_merge.pkl'))